.todo-list {
  background-color: aquamarine;
  padding: 10px;
  border: 1px solid #ccc;
  /* max-width: 400px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
}

.todo-list__preview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list h1 {
  font-size: 24px;
  margin-right: 10px;
}

.todo-list input[type="text"] {
  margin-right: 10px;
  height: 26px;
  padding: 2px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #555555;
  border-radius: 4px;
  font-size: 14px;
}

.todo-list button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  padding: 4px 8px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}